* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80vw;
  height: 100vh;
  margin: auto;
  text-align: center;
}

form {
  margin-top: 10%;
}

input,
button {
  padding: 1.2rem;
  font-size: 1.2rem;
}

div {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #000;
  height: 10%;
}

p {
  font-size: 1.5rem;
}
